tr.white-main td {
	white-space: normal;
}

tr.white-main td a.no-wrap {
	white-space: nowrap;
}

a, a:visited {
	color: #bc1d30;
}

a:hover {
	color: #941e2f;
	border-bottom: 1px dotted #941e2f;
	*border-bottom: 1px solid;
}

a#active {
	color: #bc1d30;
}

span.highlight {
    background : #d8feb0;
}