<% 
inWiki = true;
inBlog = request.getURI().match( /^.blog/ );
head.push('<link type="text/css" rel="stylesheet" href="/appassets/css/site.css" />');
if ( inWiki || activePage == "api" ) 
  head.push('<link type="text/css" rel="stylesheet" href="/appassets/css/wiki.css" />');
if ( inBlog || activePage == "irc" ) {
  head.push('<link type="text/css" rel="stylesheet" href="/appassets/css/blog.css" />');
}
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Babble -- $title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="10gen is a new platform designed to help developers quickly and easily build complex and scalable web applications." />
	<meta name="keywords" content="10gen" />
	<meta name="author" content="10gen" />
	<link rel="shortcut icon" href="/appassets/images/favicon.ico" />
    <link href="/blog/rss" rel="alternate" type="application/rss+xml" title="10gen Blog RSS feed" />
</head>
<body>

<div id="top-right">
	  <p style="margin:0; text-align: right; ">
      <% if (user) { %>
        Logged in as <%= user.name %>&nbsp<a href="/~~/user/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a> or <a href="/userSignup">sign up</a>
      <% } %>
 	  </p>
  <div id="universal-search">	
    <form action="/search">
      <input id="searchtext" class="text" type="text" id="searchtext" name="q" onfocus="if ( this.value == this.defaultValue ) this.value = ''; " onblur="if ( this.value == '' ) this.value = this.defaultValue; " value="Search" />
      <input id="go" type="image" name="search" src="/appassets/images/button_trans_search.gif" value="Search" />
    </form>
  </div>
</div>

  <div id="headerback">
    <div id="container">
      <div id="logo">
        <div><a href="/"><img src="/appassets/images/logo_babble.gif" width="209" height="82" alt="MongoDB logo" /></a></div>
      </div>
    </div>
  </div>
  <div id="stripe">&nbsp;</div>
  <div id="maincontent">
    <div id="leftwiki">
      <%= local.pieces.wiki_navpane() %>
    </div>
		
    
    <div id="leftmain">
    <% if( request.notice ) { %>
    <div class="red">
      <%= request.notice %>
    </div>
    <% } %>
